# Database
DATABASE_URL=postgresql://postgres:yourpass

# Redis
REDIS_URL=redis:key

# SendGrid
SENDGRID_API_KEY=SG-api-key
SENDGRID_FROM_EMAIL=yourgmail@gmail.com

# Twilio
TWILIO_ACCOUNT_SID=TWILIO_ACCOUNT_SID
TWILIO_AUTH_TOKEN=TWILIO_AUTH_TOKEN
TWILIO_FROM_NUMBER=+34789uioejrlk

#Header-Based API key
API_KEY= your-api-key

# App Settings
APP_NAME=Notification Service
DEBUG=True

#frontend-url
FRONTEND_URL=http://localhost:5173